/**
 * Configure Tailwind v4 in this file using CSS variables and directives:
 * https://tailwindcss.com/docs/v4-beta#css-first-configuration
 */

@import 'tailwindcss';


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .text-9xl {
        font-size: 2rem;
        line-height: var(--text-9xl--line-height); /* 1 */
    }


    .shop-name-style {
        @apply text-black text-9xl font-normal;
    }


}
